<!DOCTYPE html>
<html>
  <head>
    <title>Ccav</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="container">
    	
    	<header class="col-sm-12">
    		<a href="" class='logo'>monitoria</a>
    	</header>
  		

      <div class="card col-sm-12">
        
        <% if flash[:notice] %>
          <div class="notice alert" role="alert"><%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
    		<div class="row navbar">

          <div class="col-sm-3">
            <% if not current_page?('/') %>
              <%= link_to fa_icon('chevron-left')+" VOLTAR",:back, class: 'btn btn-sm btn-outline' %>
            <% end %>
          </div>
          <div class="col-sm-9 btn-group navbar-actions">
            <% if user_signed_in? %>
              <span class='btn-sm btn-outline name'> 
                <%=  current_user.name %>
              </span>
              <%= link_to "EDITAR PERFIL", edit_user_registration_path(current_user), class: 'btn btn-sm btn-outline' %>
              <%= link_to "SAIR", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline' %>
            <% else %>
            <%=  link_to "ENTRAR", new_user_session_path, class: 'btn btn-sm btn-outline' %>
            <%=  link_to "CADASTRO", new_user_registration_path, class: 'btn btn-sm btn-outline' %>
            <% end %>
          
          </div>
        </div>

        <div class="col-md-12 page-content">
    		  <%= yield %>
        </div>

  		</div>
	
		 	
  	</div>

  
  </body>
</html>
